@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.navbar {
    background-color: #2d2929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    color: white;
}

.navbar-icon i {
    color: white;
    font-size: 24px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
}

.navbar-link {
    margin-left: 20px;
}

.navbar-link a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.navbar-icon img {
    height: 30px;
}

.horizontal-section {
    height: 94vh;
    display: flex;
}

.left-section {

    width: 60%;
    background-image: url("../images/fondo.webp");
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right-section {
    width: 45%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    display: block;
    margin: 0 auto;
}

----- .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #2C80B0;
    font-size: 12px;

}

.login-box form .box {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #2C80B0;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    display: block;
    text-align: center;

}

.login-box button:hover {
    background: #2C80B0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px white,
        0 0 5px #2C80B0,
        0 0 5px #2C80B0,
        0 0 5px #2C80B0;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;

}

.option {
    color: gray;
    text-decoration: underline;
    margin-bottom: 25px;

}

.option:hover {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    width: 100%;
}