.navbar {
    background-color: #2d2929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    font-weight: 700;
    color: white;
}

.navbar-icon i {
    color: white;
    font-size: 50px;
    border-radius: 30px;
    height: 50px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
}

.navbar-link {
    margin-left: 20px;
}

.navbar-link a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.navbar-icon {
    width: 50px;
    border-radius: 30px;
    background-size: cover;
    height: 50px;
    overflow: hidden;
}


.navbar-icon img {
    border-radius: 30px;
    height: 50px;
}

.navbar-user-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rol-style{
    text-align: center;
    background-color:#2C80B0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    margin: 0px 5px;
}
.logout:hover{
    background-color: #FFCD00;
    color: white;
    margin: 20px 0px;
    border-radius: 5px;
}