@media (max-width:1440px){

}

@media (max-width:670px){
    .portada-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    .portada-div-img{
        width: 100vw;
    }
    .portada-img {
        width: 250px;
        margin: 0px;
        padding: 0px;
    }
    .portada-user-panel{
        margin: 0px 20px;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar-left{
        flex-direction: column;
    }

    .navbar-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0px;
    }
    .navbar-link{
        margin-left: 5px;
    }

    .navbar-link a {
        margin: 10px 0px;
    }
    .servicios-lista-section{
        display: grid;
        grid-template-columns: repeat(
    auto-fit,
    minmax(350px,
    1fr)
    );
    }



}




@media (max-width: 425px) {
    .footer div{
        flex-direction: column;
        text-align: center;
        font-size: small;
    }
    .footer-img{
        height: 50%;
    }

}