<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/responsive.css}" rel="stylesheet" />
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Web App Services</title>
</head>

<body>

<nav th:replace="/fragments/navbar :: nav"></nav>

<section class="categorias-section ">
    <h1 class="titulo">SERVICIOS DISPONIBLES</h1>
    <div id="providers-list" th:text="${#lists.size(provider)}"></div>
    <article class="categoria-list-article" >
        <a th:each="attendance : ${Attendances}" class="categoria-icon-div " th:href="@{'/attendance/' + ${attendance.id}}">
            <div>
                <i th:class="${attendance.icon}" style="color: #2d2929"></i>
                <h3 th:text="${attendance.name}"></h3>
            </div>
        </a >
    </article>
</section>
<section class="servicios-lista-section">
    <article class="servicios-tarjeta" th:each="card : ${provider}">
        <div class="card-text">
            <img class="navbar-img" th:src="@{'/images/' + ${card.image}}" alt="cosa/algo"/>
            <h2 th:text="${card.name}+ ' ' + ${card.lastName}"></h2>
            <h4 class="valor" th:id="'star-valor-' + ${card.idDto}" th:text="${card.score}"></h4>
            <div class="div-stars" th:id="'div-stars-' + ${card.idDto}"></div>
            <p th:text="${card.attendanceUnique.name}"></p>

            <a th:href="@{|/vermas/${card.dni}/${card.attendanceUnique.id}|}">
                <h5>VER MAS</h5>
            </a>
            <div class="service-button">
                <form th:action="@{/contract/create}" method="POST">
                    <input type="number" id="providerId" name="providerId" hidden
                           th:value="${card.dni}"/>
                    <input type="number" id="attendanceId" name="attendanceId" hidden
                           th:value="${card.attendanceUnique.id}"/>
                    <button sec:authorize="!hasRole('ROLE_PROVIDER')" >CONTRATAR</button>
                </form>
                <p th:text="${card.pricePerHour}"></p>
                <i th:class="${card.attendanceUnique.icon}" style="color: #2d2929"></i>
            </div>
        </div>
    </article>
</section>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/javascript/example.js}"></script>
</body>
</html>