<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/responsive.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        
    <title>Web App Services</title>
</head>

<body>

    <section class="portada-section">
        <div class="portada-div-img">
            <img class="portada-img" th:src="@{images/logo-solo.png}" alt="logo g&l services" />
        </div>
        <div class="portada-user-panel">
            <i class="fa-solid fa-circle-user"></i>
            <h3>PERFIL</h3>
        </div>
    </section>

    <section class="categorias-section ">
        <h1 class="titulo">SERVICIOS DISPONIBLES</h1>
        <article class="categoria-list-article">
            <div class="categoria-icon-div ">
                <i class="fa-solid fa-bolt-lightning" style="color: #FFCD00"></i>
                <h3>ELECTRICIDAD</h3>
            </div>
            <div class="categoria-icon-div ">
                <i class="fa-solid fa-seedling" style="color: green"></i>
                <h3>JARDINERIA</h3>
            </div>
            <div class="categoria-icon-div ">
                <i class="fa-solid fa-trowel" style="color: orangered"></i>
                <h3>ALABAÑILERIA</h3>
            </div>
            <div class="categoria-icon-div">
                <i class="fa-solid fa-paint-roller" style="color:blueviolet"></i>
                <h3>PINTURA</h3>
            </div>

        </article>
    </section>
    <section class="servicios-lista-section">

        <article class="servicios-tarjeta">
            <div class="card-text">
                <img src="https://cdn.pixabay.com/photo/2017/09/16/14/33/electrician-2755683_1280.jpg" alt="" />
                <h2>DAVID CASSIET</h2>
                <h3 id="star-valor">2</h3>
                <p>ELECTRICIDAD</p>
                <div id="div-stars">
                </div>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                    <h3>VER MAS</h3>
                </a>
                <div class="service-button">
                    <button>CONTRATAR</button>
                    <p>$200xhora</p>
                </div>
            </div>
        </article>

    </section>
    <footer th:replace="fragments/footer"></footer>
    <script th:src="@{/javascript/example.js}"></script>
</body>
</html>