<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/user_form.css}" />
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/user_form.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Formulario registro cliente</title>
</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar">
        <div class="navbar-left">
            <div class="navbar-logo">
                <img class="navbar-img" th:src="@{images/logo-solo.png}" alt="Logo GyL Services" />
                <!-- <img class="navbar-img" src="/src/main/resources/static/images/logo-solo.png" alt="Logo GyL Services"> -->
            </div>
            <div class="navbar-link">
                <a href="#">INICIO</a>
                <a href="#">SOBRE NOSOTROS</a>
                <a href="#">CONTACTO</a>
            </div>
        </div>
        <div class="navbar-right">
            <div class="navbar-icon">
                <i class="fa-solid fa-circle-user"></i>
            </div>
            <div class="navbar-link">
                <a href="#">INGRESAR</a>
            </div>
        </div>
    </nav>




    <!-- Banner -->
    <section class="portada-section">
        <div class="portada-div-img">
            <h2>CLIENTE</h2>
            <h3>REGISTRO</h3>
        </div>
    </section>



    <!-- Formulario de registro -->
    <section class="form-section">
        <!-- Ver a qué página va el form -->

        <form class="form" th:action="@{/provider/register}" method="POST">

            <section class="form-rows">
                <div class="form-row">
                    <label for="name"></label>
                    <input type="text" id="name" name="name" placeholder="NOMBRE" required
                        th:value="${name}" /><br /><br />

                    <label for="lastName"></label>
                    <input type="text" id="lastName" name="lastName" placeholder="APELLIDO" required
                        th:value="${lastName}" /><br /><br />

                    <label for="dni"></label>
                    <input type="text" id="dni" name="dni" placeholder="DNI" required th:value="${id}" /><br /><br />
                </div>

                <div class="form-row">
                    <label for="phone"></label>
                    <input type="tel" id="phone" name="phone" placeholder="TELÉFONO" required
                        th:value="${phone}" /><br /><br />

                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="EMAIL" required
                        th:value="${email}" /><br /><br />

                    <label for="address"></label>
                    <input type="text" id="address" name="address" placeholder="DIRECCIÓN" required
                        th:value="${address}" /><br /><br />
                </div>

                <div>
                    <label for="password1"></label>
                    <input type="password" id="password1" name="password1" placeholder="CONTRASEÑA"
                        required /><br /><br />
                </div>
            </section>
            <!-- Imagen a subir -->


            <section class="upload-image">
                <div class="imagen-preview">
                    <input type="file" id="image" name="image">
                    <label for="image">Seleccionar foto de perfil</label>
                    <div class="preview-container">
                        <span id="no-file">No se ha seleccionado ningún archivo</span>
                        <img id="preview" src="" alt="Vista previa de la imagen">
                    </div>
                </div>
            </section>

            <!-- TEXT AREA -->

            <section class="form-button">
                <button type="submit" class="btn-registrar">Registrar</button>
            </section>



            <footer th:replace="fragments/footer"></footer>
            <script th:src="@{/javascript/example.js}"></script>
</body>

</html>