<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/footer.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/user_menu.css" /> -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/user_menu.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Servicios contratados</title>
</head>

<body>

<!-- NAVBAR -->

<nav th:replace="/fragments/navbar :: nav"></nav>

<!-- Banner -->

<section class="portada-section">
    <h1>MIS SERVICIOS CONTRATADOS</h1>
</section>

<section class="table">
    <h1 id="contracts-size" th:text="${#lists.size(userContracts)}"></h1>
    <table>
        <tr class="table-title">
            <th>ID DE CONTRATO</th>
            <th>PROVEEDORES</th>
            <th>TIPO</th>
            <th>ESTADO</th>

        </tr>
        <tr th:each="contract : ${userContracts}">
            <td th:text="${contract.contractId}"  th:id="'contract-' + ${contract.contractId}"></td>
            <td th:text="${contract.provider.name} + ' ' + ${contract.provider.lastName}"></td>
            <td th:text="${contract.attendance.name}"></td>
            <td th:text="${contract.status.name}"></td>
            <td th:text="${contract.status.id}"  th:id="'contract-status-' + ${contract.contractId}"></td>

            <td>
                <a th:id="'contract-button-' + ${contract.contractId}">
                    <button th:id="'contract-button-style-' + ${contract.contractId}">



                    </button>

                </a>
            </td>
        </tr>

    </table>
</section>



<footer th:replace="fragments/footer"></footer>
<script th:src="@{/javascript/user_menu.js}"></script>
</body>

</html>