<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/vermas.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>

    <title>Document</title>
</head>

<body>
<nav th:replace="/fragments/navbar :: nav"></nav>

<section class="portada-section">
    <h1>SERVICIOS</h1>
</section>

<section >

    <div class="container">
        <div class="left-section">
            <img th:src="@{'/images/' + ${provider.image}}" alt="Image Provider"/>
            <div class="star-container">
                <div th:each="star : ${#numbers.sequence(1, 5)}"
                     th:class="${star le score} ? 'star-filled' : 'star'"></div>

            </div>
        </div>
        <div class="right-section  contenido-texto" >
            
                <h1 th:text="${provider.name} + ' ' + ${provider.lastName}">JORGE GARCIA</h1>
                <h2 th:text="${attendance.name}">ELECTRICIDAD</h2>
                <p th:text="${provider.description}"></p>

                <div class="service-button">
                    <form th:action="@{/vermas/createContract}" method="POST">
                        <input type="number" id="providerId" name="providerId" hidden
                               th:value="${provider.dni}"/>
                        <input type="number" id="attendanceId" name="attendanceId" hidden
                               th:value="${attendanceId}"/>
                        <button class="precio-provider" th:text=" '$' + ${provider.pricePerHour} + ' por hora.'">$1000 por hora</button>
                        <button sec:authorize="hasRole('ROLE_USER')" class="contratar">CONTRATAR</button>
                    </form>
                </div>


        </div>
    </div>

</section>

<section>
    <div class="comentario" th:each="card : ${contracts}" th:if="${card.comment != null}">
        <h4 th:text="${card.user.name}">SOFIA:</h4>

        <p th:text="${card.comment}">

        </p>
    </div>

</section>

<footer th:replace="fragments/footer"></footer>
<script th:src="@{/javascript/vermas.js}"></script>
</body>
</html>
